@font-face {
  font-family: 'Vazirmatn';
  src: url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* body {
  font-family: Vazirmatn;
  user-select: none;

} */



h2.side {
  font: 1.5rem Vazirmatn;
  font-weight: 500;
  margin: 0rem 0em 0em 0em
    /* all: initial; */
    /* margin: auto; */
}



h1.title {
  /* all: unset; */
  /* all: initial; */
  font: 2em Vazirmatn;
  font-weight: 500;
  margin: 0rem 0em 0em 0em
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blue {
  color: blue
}

.red {
  color: red;
}

.border {
  border: 1px solid green;
}

input.user-input {
  all: revert;
  box-sizing: border-box;
  border: none;
  /* Ensures padding doesn't increase height */
  position: absolute;
  padding-top: 4px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Vazirmatn;
}

input.user-input[type="text"]:focus {
  /* removes the blue focus outline */
  /* box-shadow: sienna; */
  /* removes any additional focus shadow */
  border: 2px solid saddlebrown;
  /* optional: remove border if desired */
  /* margin: 0; */
  /* optional: reset margin if browser adds any */
}

/* input.restore-native {
  all: revert;
} */