h2.side {
  font: 1.5rem Vazirmatn;
  font-weight: 500;
  margin: 0rem 0em 0em 0em;
  /* all: initial; */
  /* margin: auto; */
}

h1.title {
  /* all: unset; */
  /* all: initial; */
  font: 2em Vazirmatn;
  font-weight: 500;
  margin: 0rem 0em 0em 0em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.border {
  border: 1px solid green;
}

input.user-input {
  all: revert;
  box-sizing: border-box;
  border: none;
  /* Ensures padding doesn't increase height */
  position: absolute;
  padding-top: 4px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Vazirmatn;
}

input.user-input[type="text"]:focus {
  /* removes the blue focus outline */
  /* box-shadow: sienna; */
  /* removes any additional focus shadow */
  border: 2px solid saddlebrown;
  /* optional: remove border if desired */
  /* margin: 0; */
  /* optional: reset margin if browser adds any */
}

.text-box {
  /* font-family: Arial, Helvetica, sans-serif !important; */
  font-size: 0.8mm;
  /* font-weight: bold; */
  direction: rtl !important;
  user-select: none;
  /* dominant-baseline: middle; /* تراز عمودی*/
}

.persian {
  font-family: Vazirmatn;
  /* font-size: 0.8mm; */
  /* text-anchor: start; */
}

/*تراز افقی*/
.align {
  text-anchor: start;
}

.bold {
  font-weight: bold;
}

.container {
  display: flex;
  /* Use flexbox to align items */
  align-items: center;
  /* Center items vertically */
}

.left {
  /* background-color: lightblue; */
  padding: 20px;
  margin-right: 10px;
  /* Space between the two divs */
}

.right {
  /* background-color: lightgreen; */
  margin-left: 10px;

  /* padding: 20px; */
}

.button-form {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  /* font-family: inherit; */
  background-color: #7472e2;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #fefefe;

}

.button-form:hover {
  background-color: #1c15e1;

  border-color: #fefefe;
}

/* Audiogram */
.svg {
  direction: ltr;
  font-family: Vazirmatn;
  user-select: none;
}

.frequency {
  text-anchor: middle;
  dominant-baseline: hanging;
  font-size: 1.3em;
  font-weight: bold;
}

.intensity {
  text-anchor: end;
  dominant-baseline: middle;
  font-size: 1.2em;
  font-weight: bold;
}

.mainFreqline {
  stroke: black;
  stroke-width: 1;
}

.semiOctavFreqline {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 4;
}

.boldLine {
  stroke: black;
  stroke-width: 3;
}

svg .line {
  stroke: black;
  stroke-width: 1;
}

.juncDashLine {
  stroke-width: 1;
  stroke-opacity: 0.8;
  stroke-dasharray: 4;
}

/* Symbols Chart*/
.quad {
  fill: none;
  stroke: blanchedalmond

}

.iframe1 {
    font-size: large;
    color: #1c15e1;
}