@font-face {
  /* src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2"); */
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-family: vazirmatn;
}
.header1 {
  user-select: none;
  /* direction: rtl; */
  /* text-align: center; */
  font-family: vazirmatn;
  font-size: 1.6mm;
  font-weight: bolder;
}
.header2 {
  user-select: none;
  direction: rtl;
  /* text-align: center; */
  text-anchor: middle;
  /* font-family: sans-serif, Helvetica, Arial;*/
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: sans-serif !important;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1mm;
  font-weight: bold;
}
.header3 {
  user-select: none;
  /* direction: rtl; */
  /* text-align: center; */
  font-family: sans-serif !important;

  /* font-family: vazirmatn; */
  font-size: 1mm;
  font-weight: bold;
}
.header4 {
  user-select: none;
  direction: rtl;
  /* text-align: center; */
  font-family: vazirmatn;
  font-size: 1mm;
  /* font-weight: bold; */
}
.tymp1 {
  user-select: none;
  direction: ltr !important;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1mm;
  /* font-weight: bold; */
}
.tymp2 {
  user-select: none;
  direction: ltr !important;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 0.8mm;
  /* font-weight: bold; */
}
.mizoon {
  display: table;
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
  /* justify-content: center; */
}
.symbol_square {
  stroke-opacity: 100;
}
input {
  display: block;
  width: 60%;
  border: 1px solid antiquewhite;
  padding: 10px 10px;
  margin: 10px auto 10px auto;
}
.header5 {
  /* font: 1.5px Verdana, Helvetica, Arial, sans-serif; */
  user-select: none;
  direction: rtl;
  text-align: right;
  font-family: vazirmatn;
  font-size: 0.9mm;
  font-weight: bold;
}
